<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful!</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/synfintiy-20transaprent.png' %}">
    <link rel="stylesheet" href="{% static 'css/registrations/success.css' %}"
</head>
<body>
    <div class="form-success w-form-done">
        <div>Your registration has been recieved and all communication will be sent through the registered Email Id.</div>
    </div>
</body>
</html>