:root{
  --main-color: #01584a;
  --secondary-color: #4dafa2;
  --lighter-color: #e0e0e7;
  --dark-color: #09003f;
  --light-color: #62a38e;


  --font-smaller: 14px;
  --font-bigger: 20px;
}
  *{
    margin: 0;
    padding: 0;
  }
  *,::before,::after{
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    background-color: #33383f;
    background-image: radial-gradient(circle at 100% 0, #231f74, #f3898900 75%), radial-gradient(circle at 0%, #1e2948, #0000 45%), radial-gradient(circle at 40% 130%, #f7975c, #0000 89%);
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  ul{
    list-style: none;
  }
  h1,h2,h3{
    font-weight: 700;
    line-height: 1,25;
    margin: 0 0 0.5rem;
  }
  img{
    max-width: 100%;
    vertical-align: middle;
  }
  .container{
    padding: 0 2em;
    max-width: 1100px;
    margin: 0 auto;
  }
  .form-box{
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    border: 8px solid var(--lighter-color);
    border-radius: 15px;
    background-color: #faf9ff;
  }
  .form-box .progress{
    position: relative;
    padding: 1em;
  }
  .logo{
    font-size: 1.75em;
    font-weight: 800;
    color: var(--dark-color);
    padding: 0;
    text-align: center;
  }
  .logo span{
    color:var(--main-color);
  }
  .progress ul.progress-steps{
    display: flex;
    margin-left: 0;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    gap: 2em;
  }
  .progress ul.progress-steps li{
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
  }
  .progress ul.progress-steps li > span{
    position: relative;
    width: 40px;
    height: 40px;
    font-size: var(--font-smaller);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    border-radius: 50%;
    background-color: var(--lighter-color);
    z-index: 1;
  }
  .progress ul.progress-steps li.active > span{
    color: white;
    background-color: var(--main-color);
    border: 4px solid var(--secondary-color);
    z-index: 1; 
  }
  .form-box form{
    width: 100%;
    padding: 3em;
    background-color: white;
    border-radius: 30px 30px 15px 15px;
  }
  form > div{
    max-width: 400px;
    margin: 0 auto;
  }
  form > div p{
    color: var(--light-color);
    margin-bottom: 2em;
  }
  form > div > div:not(.checkbox){
    display:flex;
    flex-direction: column;
    margin-bottom: 2em;
  }
  form :where(input,select){
    height: 40px;
    padding: 0 1em;
    border-radius: 7px;
    outline-color: var(--secondary-color);
    border: 1px solid var(--lighter-color);
    background-color: transparent;
  }
  .progress ul li p{
    position: absolute;
    top: 3.3em;
    font-size: 12px;
  }
  form label{
    font-size: var(--font-smaller);
    margin-bottom: 0.5em;
    font-weight: 600;
  }
  form .grouping{
    display: flex;
  }
  form .grouping input{
    max-width: 70px;
    text-align: center;
    margin-right: 1em;
  }
  .form-two, .form-three, .form-four{
    display: none;
  }
  .btn-group{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 2em;
  }
  .btn-group [class*="btn-"]{
    background-color: var(--main-color);
    color: white;
    padding: 1em 2.5em;
    border: 4px solid var(--secondary-color);
    border-radius: 30px;
    cursor: pointer;
    -webkit-transition: background-color .3s, border-color .3s ease-out;
    transition: background-color .3s, border-color .3s ease-out;
  }
  .btn-group [class*="btn-"]:disabled{
    background-color: var(--light-color);
    border-color: var(--lighter-color);
    cursor: text;
  }
  .btn-group [class*="btn-"]:hover:not(:disabled){
    background-color: var(--light-color);
  }
  form > div:not(.btn-group){
    display: none;
    -webkit-animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  form > div.active{
    display: block;
  }
  .btn-group.btn-submit,
  .form-three.active ~ .btn-group .btn-submit{
    display: none;
  }
  .form-three.active ~ .btn-group .btn-submit{
    display: block;
  }
  
  @keyframes fadeIn{
    0%{
      opactiy: 0;
      -webkit-transform: translateY(10%);
      transform: translateY(10%);
    }
    100%{
      opactiy: 1;
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  }
  
  ::placeholder{
    color: var(--light-color);
  }
  
  @media screen and (min-width: 768px){
    .form-box .progress{
      flex: 1 0 35%;
      min-width: 300px;
      padding: 3em;
    }
    .form-box{
      flex-direction: row;
    }
    .logo{
      margin: -48px -48px 48px;
      padding: 40px 48px;
    }
    .progress ul.progress-steps{
      flex-direction: column;
      gap: 0;
      margin-left: 3.5em;
    }
    .progress ul.progress-steps li:not(:last-child)::before{
      content: "";
      position: absolute;
      left: 20px;
      top: 30px;
      width: 2px;
      height: 65px;
      background-color: var(--lighter-color);
    }
    .form-box form{
      padding: 3em;
      border-radius: 0px 15px 15px 0;
    }
    .progress ul li p{
      position: relative;
      font-size: inherit;
      top: auto;
    }
  }
  
  input:invalid{
    display: flex;
    border-color: red;
  }
  .form-four.form-step > div > p{
    color: black;
    line-height: 10px;
    margin-bottom: 0.5 em;
  }
